<!DOCTYPE html>
<html ng-app="app">

<head>
  <title>IMDB Clone</title>
  <meta charset="utf-8">
  <base href="/" />
  <link rel="stylesheet" href="/scripts/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://bootswatch.com/cyborg/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/site.css"/>
</head>

<body ng-controller="GlobalController as global">
  <div class="container well">
    <ul>
      <li><a ui-sref="Home"><span class="glyphicon glyphicon-home"></span></a></li>
      <li><a ui-sref="Add Movie" ng-show="global.status._id"><span class="glyphicon glyphicon-plus"></span></a></li>
      <li style="float:right" ng-show="!global.status._id"><a ui-sref="Login">login</a></li>
      <li style="float:right" ng-show="global.status._id"><a ng-click="global.logout()">logout</a></li>
    </ul>
  </div>
  <div class="container">
    <ui-view></ui-view>

  </div>

  <script src="/scripts/angular/angular.min.js"></script>
  <script src="/scripts/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/scripts/angular-resource/angular-resource.min.js"></script>
  <script src="/scripts/angular-animate/angular-animate.min.js"></script>
  <script src="/scripts/angular-touch/angular-touch.min.js"></script>
  <script src="/scripts/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

  <script src="/js/app.js"></script>
  <script src="/js/Services/AuthInterceptor.js"></script>
  <script src="/js/Services/MovieServices.js"></script>
  <script src="/js/Services/CommentService.js"></script>
  <script src="/js/Services/UserService.js"></script>
  <script src="/js/controllers/GlobalController.js"></script>
  <script src="/js/Controllers/HomeController.js"></script>
  <script src="/js/Controllers/MovieAddController.js"></script>
  <script src="/js/Controllers/MovieDetailsController.js"></script>
  <script src="/js/Controllers/MovieUpdateController.js"></script>
  <script src="/js/Controllers/UserLoginController.js"></script>
  <script src="/js/Controllers/UserRegisterController.js"></script>

</body>

</html>
